* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

img {
    max-width: 100%;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
}